body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #222;
}

header {
    background-color: #222;
    color: white;
    padding: 20px;
    text-align: center;
}

nav a {
    color: white;
    margin: 15px;
    text-decoration: none;
}

main {
    max-width: 900px;
    margin: auto;
    padding: 30px;
}

section {
    margin-bottom: 60px;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}
